<!DOCTYPE html>
<html lang="en">
    <head>
        <title>JOSHUA'S SEARCH ENGINE OPTIMIZER</title>
        <link rel="stylesheet" href="../../static/homepage_css.css">
    </head>

    <body>
        <h1>NAVER SEARCH ENGINE OPTIMIZER</h1>
        <div class="menu">
            <div class="margin_style">
                <a href="{% url 'index' %}">HOME</a>
                <a href="{% url 'information' %}">INFORMATION</a>
                <a href="{% url 'history' %}">HISTORY</a>
                <a href="{% url 'searchengineoptimizer' %}">SEO</a>
            </div>
        </div>
        
        <div>
            <p></p>
        </div>

        <div>
            <hr>
            <footer>
                <p>Posted by: Joshua Jeon</p>
                <p><time pubdate datetime="2018-11-21"></time></p>
            </footer>
        </div>
    </body>
</html>