<!DOCTYPE html>
<html lang="en">
    <head>
        <title>JOSHUA'S INFORMATION</title>
        <link rel="stylesheet" href="../../static/homepage_css.css">
    </head>
    
    <body>
        <h1>NAVER SEARCH ENGINE OPTIMIZER</h1>
        <div class="menu">
            <div class="margin_style">
                <a href="{% url 'index' %}">HOME</a>
                <a href="{% url 'information' %}">INFORMATION</a>
                <a href="{% url 'history' %}">HISTORY</a>
                <a href="{% url 'searchengineoptimizer' %}">SEO</a>
            </div>
        </div>

        <div>
            <ul type = square>
                <li>
                    <h2>Why build this website?</h2>
                </li>

                <ol>
                    <li type = circle>
                        <p>This website is made for the project in NAVER SEO</p>
                    </li>
                </ol>
            </ul>
        </div>

        <div>
            <ul type = square>
                <li>
                    <h2>How can you use this website?</h2>
                </li>

                <ol>
                    <li>
                        <p>Go to the SEO tap</p>
                    </li>
                    <li>
                        <p>Type the word you want to know the ranking distribution in NAVER SHOPPING</p>
                    </li>
                    <li>
                        <p>Wait for the process</p>
                    </li>
                </ol>
            </ul>
        </div>
        <div>
<!--            <ul type = "square">-->
<!--                <li>-->
<!--                    <h2>JOSHUA's Information</h2>-->
<!--                </li>-->
<!--                <ol>-->
<!--                    <li type = circle>Phone : 010-6678-2568</li>-->
<!--                    <li type = circle>Address : KyongGiDo SeongnamSi BundangGu RainbowVillige</li>-->
<!--                    <li type = circle>Korean name : 전 승 훈</li>-->
<!--                    <li type = circle>Univercity : Chung-Ang ComputerScience Institute</li>-->
<!--                    <li type = circle>Age : 24</li>-->
<!--                    <li type = circle>Nationality : Republic of Korea</li>-->
<!--                    <li type = circle>Hobby : Soccer ,Computer Game, Playing Guitar</li>-->
<!--                </ol>-->
<!--            </ul>-->
        </div>


        <div>
            <hr>
            <footer>
                <p>Posted by: Joshua Jeon</p>
                <p><time pubdate datetime="2018-11-21"></time></p>
            </footer>
        </div>
    </body>
</html>